<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-links">

          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon-github">
                <svg viewBox="0 0 30 32">
    							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-github"></use>
    						</svg>
              </span>
            </a>
          </li>

          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <span class="icon  icon-linkedin">
                <svg viewBox="0 0 30 32">
    							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-linkedin"></use>
    						</svg>
              </span>
            </a>
          </li>

          <li>
            <a href="https://plus.google.com/104645746431962082277">
              <span class="icon  icon-google-plus">
                <svg viewBox="0 0 30 32">
    							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-google-plus"></use>
    						</svg>
              </span>
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>

</footer>
