
<div class="home">
  <div class="row">
    <div class="mdl-shadow--2dp demo-card-wide">
      <div class="mdl-card__supporting-text">
        <div class="col-md-6">
          <img class="img-responsive img-circle img-center" style="margin-bottom: 40px;margin: auto;" src="https://media.licdn.com/media/AAEAAQAAAAAAAAGFAAAAJGJmODc0YWRmLTc1YWItNGIyZi04ODQ2LWQxYzljZTYyOGU2Nw.jpg" alt="profile pic">
        </div>
        <div class="col-md-6">
          <p class="lead">Hi, I'm<br>Jeremiah Espinosa and I create Mobile Applications.</p>
          <p style="line-height: 25px; font-size: 16px">I am originally from Austin, Texas and I graduated from Texas State University with a Bachelors degree in Computer Science. I started off making scanning applications for my current employer and I am always looking for ways to expand my portfolio.</p>

          <p style="line-height: 25px; font-size: 16px">During my free time I enjoy making apps for family and friends.</p>
        </div>
      </div>
    </div>
  </div>
</div>
